node_modules/
dist/
dist-ssr/

.env
.env.*
!.env.example

.firebase/
.firebaserc.local
firebase-debug.log
firestore-debug.log

.DS_Store
Thumbs.db
coverage/
*.local

.vscode/*
!.vscode/extensions.json
.idea/

logs
npm-debug.log*
